.subheading{
	font-size: 14px;
}

.text-primary {
  color: #4F1726;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #092F96;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #092F96;
  }

header {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: right;
  color: white;
  /*text-shadow: 2px 2px  5px grey;*/
}
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 400px;
    padding-bottom: 100px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 700;
    font-size: 50px;
    /*line-height: 75px;*/
    margin-bottom: 50px;
  }
}