/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#mapid {
  min-height: 750px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  margin-top: 20px;
}

footer.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

img.traffic-light {
  width: 40px
}

i.fas.muted {
  opacity: .2
}