body {
    text-align: justify;    
}

h1 {
    line-height: 110%;    
}

.hlist {
    border: 1px solid navy;
    padding:5px;
    background-color: #F4FFFF; 
}

.hlist li {
    display: inline;
    display: inline-table;
    list-style-type: none;
    padding-right: 20px;
    
}

.entity {
    border: 1px solid navy;
    margin:5px 0px 5px 0px;
    padding: 5px;    
}

.type-c {
    cursor:help;
    color:orange;
}

.type-op {
    cursor:help;
    color:navy;    
}

.type-dp {
    cursor:help;
    color:green;    
}

.type-ap {
    cursor:help;
    color:maroon;    
}

.type-ni {
    cursor:help;
    color:brown;    
}

.logic {
    color:purple;
    font-weight:bold;    
}

h3 {
    margin-top: 3px;
    padding-bottom: 5px;
	border-bottom: 1px solid navy;
}

h2 {
    margin-top:40px;    
}

.dotted {
    border-bottom: 1px dotted gray;
}

dt {
    margin-top:5px;
}

.description {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    background-color: rgb(242, 243, 244);
    margin-top:5px;
    padding-bottom:5px;
}

.description dl {
    background-color: rgb(242, 243, 244);
}

.description ul {
    padding-left: 12px;
    margin-top: 0px;
}

.backlink {
    font-size:10pt;
    text-align:right;
    float:right;
    color:black;
    padding: 2px;
    border: 1px dotted navy;
    background-color: #F4FFFF;
}

.imageblock {
	text-align: center;
}

.imageblock img {
	border:1px solid gray;
}

.endnote {
	margin-top: 40px;
	border-top: 1px solid gray;
	padding-top: 10px;
	text-align: center;
	color:gray;
	font-size:70%;
}

.literal {
    color:green;
    font-style:italic;
}