.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
