.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}
